body{
    font-family: Helvetica, arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo { 
    margin: 0px;
    padding: 10px;
    font-family: "Fredoka One", sans-serif;
    width: 20%;

}

ul{
    margin: 0px;
}

body > header{
    background-color:beige;
    color: brown;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul{
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 15px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton{
    color:cadetblue;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20%;
}

body>main article{
    width: 70%;
    margin: auto;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content>div{
    width: 70%;
}

form{
    text-align: center;
}

h2{
    text-align: center;
}

body > footer {
    background-color: beige;
    display: flex;
}

img{
    border-radius: 50%;
} 

#footer-ul{
    display: flex;
    list-style: none;   
}

#footer-ul>div>li{
    margin-left: 15px;
}

#footer-ul>div>li>a{
    color: rgb(180, 35, 35);
    text-decoration: none;
} 